# Projet : Python
##  Traitement et Analyse de données:

### *Partie 1:*
     -Extraire le fichier correspondant;
     -Calculer pour chaque variable étudier:
         -la moyenne, l'écart type, la variance
     -calculer pour chaque deux variable étudier:
         -le coefficient de corrélation

In [1]:
import numpy as np
import math as m
import pandas as pd

In [2]:
res = pd.read_csv("iris_csv.csv")

In [3]:
res.head(200)

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
res.describe()

       sepallength  sepalwidth  petallength  petalwidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

In [5]:
a=res.iloc[0:,0]
print(a)
a1=res.iloc[0:,1]
print(a1)
a2=res.iloc[0:,2]
print(a2)
a3=res.iloc[0:,3]
print(a3)

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepallength, Length: 150, dtype: float64
0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepalwidth, Length: 150, dtype: float64
0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: petallength, Length: 150, dtype: float64
0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petalwidth, Length: 150, dtype: float64

In [6]:
def moyenne(x):
    moy=(np.sum(x)/len(x))
    return moy

In [7]:
m=moyenne(a)
print(m)

m1=moyenne(a1)
print(m1)

m2=moyenne(a2)
print(m2)

m3=moyenne(a3)
print(m3)

5.843333333333334
3.0540000000000003
3.758666666666666
1.1986666666666668

In [8]:
def variance(x,y):
    var=0
    for i in range(0,len(x)):  
        var+=(x[i]-y)*(x[i]-y)*(1/len(x))
    return var

In [9]:
v=variance(a,m)
print(v)

v1=variance(a1,m1)             
print(v1)

v2=variance(a2,m2)             
print(v2)

v3=variance(a3,m3)             
print(v3)

0.6811222222222222
0.18675066666666695
3.0924248888888894
0.5785315555555548

In [10]:
def ecarttype(y):
    e=np.sqrt(y)
    return e

In [11]:
e=ecarttype(v)
print(e)
e1=ecarttype(v1)
print(e1)
e2=ecarttype(v2)
print(e2)
e3=ecarttype(v3)
print(e3)

0.8253012917851409
0.43214658007054385
1.7585291834055212
0.7606126185881712

In [12]:
def covariance(tab,tab2,moy1,moy2):
    cov=0
    k=0
    for i in range(0,len(tab)):
        k+=(tab[i]-moy1)*(tab2[i]-moy2)
        cov=(1/150)*k
    return cov

In [13]:
cov=covariance(a,a1,m,m1)
print(cov)

cov1=covariance(a,a2,m,m2)
print(cov1)

cov2=covariance(a,a3,m,m3)
print(cov2)

cov3=covariance(a1,a2,m1,m2)
print(cov3)

cov4=covariance(a1,a3,m1,m3)
print(cov4)

cov5=covariance(a2,a3,m2,m3)
print(cov5)

-0.03900666666666666
1.2651911111111118
0.5134577777777779
-0.319568
-0.11719466666666656
1.2877448888888894

In [14]:
def coeffecientCorrélation(cov,ecartType1,ecartType2):
    r=cov/(ecartType1*ecartType2)
    return r

In [16]:
r=coeffecientCorrélation(cov,e,e1)
print(r)

r1=coeffecientCorrélation(cov1,e,e2)
print(r1)

r2=coeffecientCorrélation(cov2,e,e3)
print(r2)

r3=coeffecientCorrélation(cov3,e1,e2)
print(r3)

r4=coeffecientCorrélation(cov4,e1,e3)
print(r4)

r5=coeffecientCorrélation(cov5,e2,e3)
print(r5)

-0.10936924995064926
0.8717541573048716
0.8179536333691642
-0.42051609640115417
-0.35654408961380546
0.9627570970509671

### Partie 2:  *Implimentation de l'algorithme de classification*
   
   **la méthode des Kmeans**